{% extends "blog/master.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
   <div class="column">
       <h3>{{ post.title }}</h3>
       <p class="small" style="color: #777777">Published {{ post.publish }} by {{ post.author }}</p><hr>
       <p>{{ post.body|linebreaks }}</p>
       <!--<div class="fb-comments" data-href="{{ post.build_absolute_uri }}" data-numposts="5"></div>-->
       <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="5">
       </div>
    </div>
{% endblock %}